/*
 App'n'roll Code Theme
 https://appnroll.com
*/

code[class*="language-"],
pre[class*="language-"] {
  color: #000000;
  font-family: "JetBrains Mono", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: black;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: black;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #f7ede8;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: dimgrey;
  font-style: italic;
}

.token.punctuation {
  color: black;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: cornflowerblue;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: hotpink;
}

.token.entity {
  color: black;
  background: #f7ede8;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: rgb(234, 40, 41);
}

.token.function,
.token.class-name {
  color: cornflowerblue;
}

.token.regex,
.token.important,
.token.variable {
  color: rgb(234, 40, 41);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
